$primary-color: #4f5c6f;
$secondary-color: #323a47;
$accent-color: #e74c3c;
$background-color: #efefef;
$secondory-background-color: #ffffff;
$text-color: #ffffff;
$button-gradient: linear-gradient(to left, #007fff, #0746e3);
$button-gradient-hover: linear-gradient(to left, #405fac, #3879b9);
$spinner-primary: rgba(0, 0, 0, 0.5);
$spinner-secondary: rgba(255, 255, 255, 0.3);
$spinner-border: #fff;
$box-shadow-primary: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.2);
