@import "../../../assets/scss/theme.scss";

.card-title {
  background-color: $secondary-color;
  padding: 1% 1% 1%;
  color: $text-color;
  font-weight: bold;
}

.card-container {
  background-color: $secondory-background-color;
  box-shadow: $box-shadow-primary;
  height: 100%;
  display: grid;
}

.card-body {
  padding: 4%;
}

// card varients styling
.bordered {
  border: 2px solid #e9e8e8;
}

.rounded {
  border-radius: 2%;
}

.hover :hover {
  box-shadow: $box-shadow-hover;
}
