<!-- custom block ui element -->
<app-block-ui
  [isBlocking]="isLoading"
  [message]="'Processing your request, please be patient...'"
></app-block-ui>

<app-header
  [naviagateBackText]="'< Back to all plants'"
  [naviagateBacRouter]="'/plants'"
  [headerTitle]="plantDetail?.name"
  [subTitle]="plantDetail?.division"
  [headerVarient]="HeaderVariant.Float"
>
</app-header>
<div class="contailer">
  <div class="detail-content">
    @if(addressData){
    <app-plant-address-card class="address-card" [addressDetail]="addressData">
    </app-plant-address-card>
    } @if(plantDetail){
    <app-plant-description-card
      class="desc-card"
      [description]="plantDetail.description"
    >
    </app-plant-description-card>
    }
  </div>
</div>
