<!-- custom block ui element -->
<app-block-ui
  [isBlocking]="isLoading"
  [message]="'Processing your request, please be patient...'"
></app-block-ui>

<app-header [headerTitle]="'Plants'"> </app-header>

@if (plantOb$ | async; as dataList) {
<div class="container">
  @for (plant of dataList.results; track plant.id){
  <app-plant-list-card
    class="plant-card"
    [routerLink]="['/plants', plant.id]"
    [attr.id]="'plantListNo_' + plant.id"
    [plant]="plant"
  >
  </app-plant-list-card>
  }
</div>

@if(dataList?.results?.length){
<button
  #loadMoreButton
  id="loadMoreButton"
  [disabled]="!dataList.next"
  [ngClass]="{ disabled: !dataList.next }"
  (click)="loadMoreResults(dataList.next)"
>
  Load More Results
</button>
} }
